@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom layout */
.custom-layout .react-colorful {
    padding: 16px;
    border-radius: 12px;
    background: #E8E9EB;
    box-shadow: 0 6px 12px #999;
  }
  
  .custom-layout .react-colorful__saturation {
    margin: 15px 0;
    border-radius: 5px;
    border-bottom: none;
  }
  
  .custom-layout .react-colorful__hue {
    order: -1;
  }
  
  .custom-layout .react-colorful__hue,
  .custom-layout .react-colorful__alpha {
    height: 14px;
    border-radius: 5px;
  }
  
  .custom-layout .react-colorful__hue-pointer,
  .custom-layout .react-colorful__alpha-pointer {
    width: 20px;
    height: 20px;
  }


  @layer components {

    .inp-outer {
      @apply border-[2px] border-[#313638] p-[4px] rounded-[12px];
    }

    .inp {
      @apply w-[14rem] border-[2px] border-[#313638] px-[16px] py-[8px] rounded-[8px] bg-[#E8E9EB] ;
    }
  }



  input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
    border-radius: 16px;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background: #E8E9EB;
    border-radius: 16px;
  }

  /* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 15px;
  background: #E8E9EB;
  border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: #FF9D00;
  border-radius: 50%;
  border: 2px solid #FF9D00;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #313638;
}


/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #FF9D00;
  border-radius: 50%;
  border: 1px solid #313638;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #313638;
}