@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom layout */
.custom-layout .react-colorful {
    padding: 16px;
    border-radius: 12px;
    background: #E8E9EB;
    box-shadow: 0 6px 12px #999;
  }
  
  .custom-layout .react-colorful__saturation {
    margin: 15px 0;
    border-radius: 5px;
    border-bottom: none;
  }
  
  .custom-layout .react-colorful__hue {
    order: -1;
  }
  
  .custom-layout .react-colorful__hue,
  .custom-layout .react-colorful__alpha {
    height: 14px;
    border-radius: 5px;
  }
  
  .custom-layout .react-colorful__hue-pointer,
  .custom-layout .react-colorful__alpha-pointer {
    width: 20px;
    height: 20px;
  }


  @layer components {

    .inp-outer {
      @apply border-[2px] border-[#313638] p-[4px] rounded-[12px];
    }

    .inp {
      @apply w-[14rem] border-[2px] border-[#313638] px-[16px] py-[8px] rounded-[8px] bg-[#E8E9EB] ;
    }
  }

  input[type="range"] {
    accent-color: #FF9D00;
    background-color: #000000;
  }
